@import 'reset';
@import 'normalize';
$background-gray: #A9B2B1;
$app-background-color: #eee;

body {
  width: 900px;
  margin: 25px;
  background-color: $background-gray;
  background-image: url("logo.png");
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
}

header {
  padding: 10px;
}

.login {
  padding: 10px;
  width: 90%;
}

main {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  float: right;
  .well {background-color: $background-gray;
    border-color: #337ab7;
  }
  border-radius: 0 4px 4px 0;
}

nav {
  margin-top: 10px;
  width: 20%;
  float:left;
  .nav>li>a:hover,
  .nav>li>a:focus {
    background-color: $app-background-color;
    border-radius: 4px 0 0 4px;
  }
}

.tmasterPositions {
  float: right;
  margin: -90px -450px 0 0;
}

.pending {
  float: left;
  width: 100px;
}

.datetheme {
  width: 100px;
  margin: auto;
}

.locationword {
  width: 80px;
  float: right;
  clear: right;
}

.date {
  width: 85px;
  margin: 0 -25px 0 0;
}

.location {
  float: right;
}

.word {
  float: right;
  clear: right;
}

.theme {
  margin: 5px 0 0 0;
}
