$background-blue: #A9B2B1;
$sidebar-buttons: #f5f5f5;
$sidebar-hover: green;

body {
  padding: 20px;
  width: 900px;
  background-color: $background-blue;
  background-image: url("logo.png");
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
}

main {
  width: 75%;
  float: right;
}

nav {
  width: 25%;
  float:left;
}

