<div ng-repeat="person in roster.people">
    <div>
        {{person.first_name}} {{person.last_name}} {{person.role}}<br>
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Full Roster
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="#"></a>
            <br>
        <a class="dropdown-item" href="#"></a>
            <br>
        <a class="dropdown-item" href="#"></a>
            <br>
        <a class="dropdown-item" href="#"></a>
    </div>
</div>