<div class="container row">
    <div class=" mainbody col-xs-12 col-sm-8 col-md-12">
        <h2 class="heading"> Create a New Speech Track</h2>

        <form>
            <div class=" rbox col-md-9.6">

                <div class="speechcolumns col-md-7.2">
                    <div class="first col-md-2.4">
                        <div>
                            <label for="speechonetitle"></label>
                            <input type="text" ng-model="speech_one" id="speechonetitle" class="speechone" placeholder="Speech 1 Title">
                        </div>
                        <div class="track1">
                            <select ng-model="selectTrack1" class="selecttrack1">
                                <option value="" disabled selected>Select Track</option>
                                <!--<option ng-repeat=""></option>";-->
                            </select>
                        </div>
                        <div class="project1">
                            <select ng-model="selectProject1" class="selectproject1">
                                <option value="" disabled selected>Select Project</option>
                                <!--<option ng-repeat=""></option>";-->
                            </select>
                        </div>
                        <div>
                            <label for="speakernameone"></label>
                            <input type="text" ng-model="speaker_nameone" id="speakernameone" class="speakername1" placeholder="Speaker Name">
                        </div>
                        <div>
                            <label for="speechblurbone"></label>
                            <input type="text" ng-model="speech_blurbone" id="speechblurbone" class="speechblurb1" placeholder="Speech Blurb">
                        </div>
                        <div class="speechbuttonone">
                            <input type="submit" class="speechinputone" value="Put Back In Queue">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<h2>Add New Speech Tracks</h2>

<form ng-submit="submitTrack()">

    <div>
        <label for="trackName">Track Name:</label><br>
        <input type="text" ng-model="newTrack.trackName" id="trackName">
    </div>

    <div>
        <label for="projectName">Project Name:</label><br>
        <input type="text" ng-model="newTrack.projectName" id="projectName">
    </div>

    <div>
        <label for="projectDescription">Project Description:</label><br>
        <textarea cols="40" rows="5" ng-model="newTrack.projectDescription" id="projectDescription"></textarea>
    </div>

    <div class="manageTrackBtn">
        <input type="submit" value="Save Track Info">

        <button ng-click="resetTrackForm()">Clear Form</button>
    </div>
</form>