<h1>Manage Roster</h1>

<form ng-submit="updateRoster()">
    <div class="seeRoster">
        <select ng-model="data.person" id="people">
            <option value="" disabled selected>Select A Member</option>
            <option ng-repeat="person in roster.people" value={{$index}}>{{person.first_name}} {{person.last_name}} -- {{person.role}} -- Admin? {{person.isadmin}}</option>;
        </select>
        <br />
        <br />

            <input type="radio" name="" ng-model="data.status" value="guest" ng-checked="roster.people[userRole].role == 'guest'"> Guest<br>
            <input type="radio" name="" ng-model="data.status" value="member"  ng-checked="roster.people[userRole].role == 'member'"> Member<br>
            <input type="checkbox" name="" ng-model="data.adminStatus" value="admin" ng-checked="roster.people[userRole].isadmin == true"> Admin<br>

    </div>
    <input type="submit" value="Submit" class="submitThis">
</form>


