 <h2 class="heading">Create or Edit a Track</h2>

 <form>
     <select ng-model="manageTracks.selectedTrack" style="font-size: 26px" ng-change="manageTracks.loadProjects()">
         <option value="" disabled selected>Select A Track:</option>
         <option ng-repeat="track in manageTracks.tracks track by $index" value={{$index}}>{{track.track_name}}</option>
     </select>
 </form>

<form ng-submit="manageTracks.changeTrack()" ng-repeat="project in manageTracks.selectedProjects.data">
    <form>
        <div>
            <label for="project.project_number">Project {{project.project_number}}:</label><br>
            <input type="text" ng-model="project.project_name" id="project.project_number" placeholder="Project Name"><br>
            <textarea ng-model="project.project_description" id="project.project_number.description" placeholder="Project Description"></textarea>
        </div>
    </form>

    <div ng-show="manageTracks.showSubmitButton">
        <input type="submit" value="Submit" class="submitThis">
    </div>
</form>



<!--<h2>Add New Speech Tracks</h2>-->

<!--<form ng-submit="submitTrack()">-->

    <!--<div>-->
        <!--<label for="trackName">Track Name:</label>-->
        <!--<input type="text" ng-model="manageTracks.newTrack.trackName" id="trackName">-->
    <!--</div>-->

    <!--<div>-->
        <!--<label for="projectName">Project Name:</label>-->
        <!--<input type="text" ng-model="manageTracks.newTrack.projectName" id="projectName">-->
    <!--</div>-->

    <!--<div>-->
        <!--<label for="projectDescription">Project Description:</label>-->
        <!--<textarea cols="" rows="5" ng-model="manageTracks.newTrack.projectDescription" id="projectDescription"></textarea>-->
    <!--</div>-->

    <!--<div class="manageTrackBtn">-->
        <!--<input type="submit" value="Save Track Info">-->

        <!--<button ng-click="resetTrackForm()">Clear Form</button>-->
    <!--</div>-->
<!--</form>-->