<ul class="nav nav-pills nav-stacked">
    <li ng-click="changeClass()"><a ui-sref="home">Home</a></li>
    <li ng-click="changeClass()"><a ui-sref="past_agendas">View Past Agendas</a></li>
    <li ng-click="changeClass()"><a ui-sref="request_speech">Request Future Speech</a></li>
    <li ng-click="changeClass()"><a ui-sref="view_tracks">Speech Tracks</a></li>
    <li ng-click="changeClass()"><a ui-sref="my_speeches">My Speech History</a></li>
    <li ng-click="changeClass()"><a ui-sref="manage_meetings">Manage Future Meetings</a></li>
    <li><a ui-sref="#">Manage Tracks</a></li>
    <li><a ui-sref="manage_roster">Manage Roster</a></li>
</ul>