<div ng-include="'/views/attendance.html'"></div>
<div class="well">
<div>Hello, {{home.firstName}}!</div>
<div ng-hide="home.isadmin == false"></div>
<div ng-hide="home.role == 'guest'"></div>
<div ng-hide="home.role == 'member'"></div>


<h2>Next Meeting: <b>{{home.data.date | date: "fullDate"}}</b></h2>
    <hr>
    <hr>
<h4>Theme: <b>{{home.data.theme}}</b></h4>
<h4>Word of the Day: <b>{{home.data.word_of_day}}</b></h4>
<h4>Location: <b>{{home.data.location}}</b></h4>
    <hr>
    <hr>
<h4><b>Meeting Roles:</b></h4>
    Presiding Officer: <b>{{home.data.presiding_officer}}</b>
        <br>
    Toastmaster: <b>{{home.data.toastmaster}}</b>
        <br>
    General Evaluator: <b>{{home.data.general_evaluator}}</b>
        <br>
    Table Topics Czar: <b>{{home.data.table_topics_czar}}</b>
        <br>
    Speech Evaluator One: <b>{{home.data.speech_evaluator_1}}</b>
        <br>
    Speech Evaluator Two: <b>{{home.data.speech_evaluator_2}}</b>
        <br>
    Speech Evaluator Three: <b>{{home.data.speech_evaluator_3}}</b>
        <br>
    Grammarian: <b>{{home.data.grammarian}}</b>
        <br>
    Ah-Counter: <b>{{home.data.ah_counter}}</b>
        <br>
    Timer: <b>{{home.data.timer}}</b>
    <hr>
    <hr>
<br>
<div ng-include="'/views/speech_agenda.html'"></div>
</div>






