<div ng-include="'/views/attendance.html'"></div>
<div class="well">
<div>Hello, {{home.firstName}}!</div>
<div ng-hide="home.isadmin == false"></div>
<div ng-hide="home.role == 'guest'"></div>
<div ng-hide="home.role == 'member'"></div>


<h2>{{home.data.date | date: "fullDate"}}</h2>
    <hr>
    <hr>
<h4>Theme: {{home.data.theme}}</h4>
<h4>Word of the Day: {{home.data.word_of_day}}</h4>
<h4>Location: {{home.data.location}}</h4>
    <hr>
    <hr>
<h4><b>Meeting Roles</b></h4>
    Presiding Officer: {{home.data.presiding_officer}}
        <br>
    Toastmaster: {{home.data.toastmaster}}
        <br>
    General Evaluator: {{home.data.general_evaluator}}
        <br>
    Table Topics Czar: {{home.data.table_topics_czar}}
        <br>
    Speech Evaluator One: {{home.data.speech_evaluator_1}}
        <br>
    Speech Evaluator Two: {{home.data.speech_evaluator_2}}
        <br>
    Speech Evaluator Three: {{home.data.speech_evaluator_3}}
        <br>
    Grammarian: {{home.data.grammarian}}
        <br>
    Ah-Counter: {{home.data.ah_counter}}
        <br>
    Timer: {{home.data.timer}}
    <hr>
    <hr>
<br>
<div ng-include="'/views/speech_agenda.html'"></div>
</div>






