<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/styles/style.css">
    </head>
    <body>
        <h3>Welcome to the Talk Nerdy to Me Toastmasters app</h3>
        <p>Use of this application requires signing in. You will be redirected to Google to log in:</p>
        <br/>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Log In With Google </a>
    </body>
</html>





