
<div class="container">
<div class="row">
<h1 class="heading">Create a Future Meeting</h1>


<form>
    <div class="centre col-md-8">


        <div class="pending">
            <form class="pendingSpeeches">
                <textarea cols="25" rows="20" name="comment"></textarea>
            </form>
        </div>



    <div class="datetheme">
        <div class="date">
            <select ng-model="dateStart" class="startdate">
                <option value="" disabled selected>Select Meeting Date</option>
                <option ng-repeat="day in manageMtg.dateArray">{{day.date | date: "fullDate"}}</option>";
            </select>
        </div>


    <div class="theme">
        <label for="theme"></label>
        <input type="text" ng-model="theme" id="theme" class="themebox" placeholder="Theme">
    </div>
</div>

<div class="locationword">
    <div>
        <label for="location"></label>
        <input type="text" ng-model="location" id="location" class="locationbox" placeholder="Location">
    </div>


    <div>
        <label for="word"></label>
        <input type="text" ng-model="word_of_day" id="word" class="wordbox" placeholder="Word of the Day">

    </div>
</div>
</div>

<div class="speech1">
    <div>
        <label for="speechonetitle"></label>
        <input type="text" ng-model="meetingData.speech_one" id="speechonetitle" class="speechone"
               placeholder="Speech 1 Title">
    </div>
    <div class="track">
        <select ng-model="selectTrack" class="selecttrack">
            <option value="" disabled selected>Select Track</option>
            <option ng-repeat=""></option>";
        </select>
    </div>
    <div class="track">
        <select ng-model="selectProject" class="selectproject">
            <option value="" disabled selected>Select Project</option>
            <option ng-repeat=""></option>";
        </select>
    </div>
    <div>
        <label for="speakername"></label>
        <input type="text" ng-model="meetingData.speaker_name" id="speakername" placeholder="Speaker Name">
    </div>
    <div>
        <label for="speechblurb"></label>
        <input type="text" ng-model="meetingData.speech_blurb" id="speechblurb" class="speechblurb1"
               placeholder="Speech Blurb">
    </div>
    <div class="speechbuttonone">
        <input type="submit" class="speechinputone" value="Put Back In Queue">
    </div>
</div>

    <div class="speech2">
        <div>
            <label for="speechtwotitle"></label>
            <input type="text" ng-model="meetingData.speech_one" id="speechtwotitle" class="speechtwo"
                   placeholder="Speech 2 Title">
        </div>
        <div class="track">
            <select ng-model="selectTrack" class="selecttrack">
                <option value="" disabled selected>Select Track</option>
                <option ng-repeat=""></option>";
            </select>
        </div>
        <div class="track">
            <select ng-model="selectProject" class="selectproject">
                <option value="" disabled selected>Select Project</option>
                <option ng-repeat=""></option>";
            </select>
        </div>
        <div>
            <label for="speakername"></label>
            <input type="text" ng-model="meetingData.speaker_name" id="speakername2" placeholder="Speaker Name">
        </div>
        <div>
            <label for="speechblurb"></label>
            <input type="text" ng-model="meetingData.speech_blurb" id="speechblurb2" class="speechblurb2"
                   placeholder="Speech Blurb">
        </div>
        <div class="speechbuttontwo">
            <input type="submit" class="speechinputtwo" value="Put Back In Queue">
        </div>
    </div>


    <div class="speech3">
        <div>
            <label for="speechthreetitle"></label>
            <input type="text" ng-model="meetingData.speech_one" id="speechthreetitle" class="speechthree"
                   placeholder="Speech 3 Title">
        </div>
        <div class="track">
            <select ng-model="selectTrack" class="selecttrack">
                <option value="" disabled selected>Select Track</option>
                <option ng-repeat=""></option>";
            </select>
        </div>
        <div class="track">
            <select ng-model="selectProject" class="selectproject">
                <option value="" disabled selected>Select Project</option>
                <option ng-repeat=""></option>";
            </select>
        </div>
        <div>
            <label for="speakername"></label>
            <input type="text" ng-model="meetingData.speaker_name" id="speakername3" placeholder="Speaker Name">
        </div>
        <div>
            <label for="speechblurb"></label>
            <input type="text" ng-model="meetingData.speech_blurb" id="speechblurb3" class="speechblurb3"
                   placeholder="Speech Blurb">
        </div>
        <div class="speechbuttonthree">
            <input type="submit" class="speechinputthree" value="Put Back In Queue">
        </div>
    </div>

<div class="tmasterPositions">
    <div>
        <label for="presiding_Officer"></label>
        <input type="text" ng-model="presiding_officer" id="presiding_officer" placeholder="Presiding Officer">
    </div>

        <br>

    <div>
        <label for="toastmaster"></label>
        <input type="text" ng-model="toastmaster" id="toastmaster" placeholder="Toastmaster">
    </div>

        <br>

    <div>
        <label for="general_evaluator"></label>
        <input type="text" ng-model="general_evaluator" id="general_evaluator" placeholder="General Evaluator">
    </div>

        <br>

    <div>
        <label for="evaluatorOne"></label>
        <input type="text" ng-model="speech_evaluator_1" id="evaluatorOne" placeholder="Speech Evaluator 1">
    </div>

        <br>

    <div>
        <label for="evaluatorTwo"></label>
        <input type="text" ng-model="speech_evaluator_2" id="evaluatorTwo" placeholder="Speech Evaluator 2">
    </div>

        <br>

    <div>
        <label for="evaluatorThree"></label>
        <input type="text" ng-model="speech_evaluator_3" id="evaluatorThree" placeholder="Speech Evaluator 3">
    </div>

        <br>

    <div>
        <label for="timer"></label>
        <input type="text" ng-model="timer" id="timer" placeholder="Timer">
    </div>

        <br>

    <div>
        <label for="grammarian"></label>
        <input type=text ng-model="grammarian" id="grammarian" placeholder="Grammarian">
    </div>

        <br>

    <div>
        <label for="ahCounter"></label>
        <input type="text" ng-model="ah_counter" id="ahCounter" placeholder="Ah Counter">
    </div>


    <div class="subbuttons">
        <input ng-click="submitManagedMeetings()" type="submit" class="sinput" value="Save Meeting">
    </div>
</div>
</form>
</div>
</div>


