<datalist id="list_of_users">
    <option ng-repeat="user in manageMtg.users" value="{{user.first_name}} {{user.last_name}}">
</datalist>
<datalist id="locations">
    <option value="Nerdery">
    <option value="Prime">
</datalist>

<div class="centrebody col-xs-12 col-sm-12 col-md-12">
    <div class="headingdate col-sm-12 col-md-12">
<h2 class="heading"> Create or Edit a Future Meeting</h2>
    <div class="date">
        <select ng-model="dateStart" class="startdate" ng-change="fetchExistingFields(dateStart); manageMtg.fetchExistingSpeeches(dateStart)">
            <option value="" disabled selected>Select Meeting Date</option>
            <option ng-repeat="day in manageMtg.dateArray" value={{day.date}}>{{day.date | date: "fullDate"}}</option>";
        </select>
    </div>
</div>

   <form>

    <div class="tmasterPositions col-xs-12 col-sm-4 col-md-3">
        <div>
            <label for="presiding_Officer">Presiding Officer:</label><br>
            <input type="text" list="list_of_users" ng-model="presiding_officer" id="presiding_officer" class="pofficer">
        </div>

        <br>

        <div>
            <label for="toastmaster">Toastmaster:</label><br>
            <input type="text" list="list_of_users" ng-model="toastmaster" id="toastmaster" class="toastmaster">
        </div>

        <br>

        <div>
            <label for="general_evaluator">General Evaluator:</label><br>
            <input type="text" list="list_of_users" ng-model="general_evaluator" id="general_evaluator" class="gevaluator">
        </div>

        <br>

        <div>
            <label for="evaluatorOne">Speech Evaluator One:</label><br>
            <input type="text" list="list_of_users" ng-model="speech_evaluator_1" id="evaluatorOne" class="eval1">
        </div>

        <br>

        <div>
            <label for="evaluatorTwo">Speech Evaluator Two:</label><br>
            <input type="text" list="list_of_users" ng-model="speech_evaluator_2" id="evaluatorTwo" class="eval2">
        </div>

        <br>

        <div>
            <label for="evaluatorThree">Speech Evaluator Three:</label><br>
            <input type="text" list="list_of_users" ng-model="speech_evaluator_3" id="evaluatorThree" class="eval3">
        </div>

        <br>

        <div>
            <label for="timer">Timer:</label><br>
            <input type="text" list="list_of_users" ng-model="timer" id="timer" class="timer">
        </div>

        <br>

        <div>
            <label for="grammarian">Grammarian:</label><br>
            <input type=text list="list_of_users" ng-model="grammarian" id="grammarian" class="grammarian">
        </div>

        <br>

        <div>
            <label for="ahCounter">Ah-Counter:</label><br>
            <input type="text" list="list_of_users" ng-model="ah_counter" id="ahCounter" class="ahcounter">
        </div>


        <div class="subbuttons">
            <input ng-click="manageMtg.submitManagedMeetings()" type="submit" class="sinput" value="Save Meeting">
        </div>
    </div>

       <!-- ################# SELECT A CUSTOM DATE FIELD ################ -->

    <div class="datetheme col-xs-8 col-sm-4 col-md-3">
<div class="setdate">
    <form>
        <label for="createdate">Create Custom Date:</label>
        <input type="date" name="custom" id="createdate" class="customdate" ng-model="manageMtg.customDate">
        <input type="submit" class="submitcustom" value="Create Custom Date" ng-click="manageMtg.submitCustomDate()">
    </form>
</div>

        <!-- ################# end of custom date field ################ -->

    <div class="theme">
        <label for="theme">Theme:</label>
        <input type="text" ng-model="theme" id="theme" class="themebox">
    </div>
</div>

<div class="locationword col-xs-8 col-sm-4 col-md-3">
    <div>
        <label for="location">Location:</label>
        <input type="text" list="locations" ng-model="location" id="location" class="locationbox">
    </div>


    <div class="word">
        <label for="word" class="wordlabel">Word of the Day:</label>
        <input type="text" ng-model="word_of_day" id="word" class="wordbox">

    </div>
</div>


    <div class="speechcolumns col-xs-12 col-sm-4 col-md-3">
    <div class="first col-xs-12 col-sm-10 col-md-4">
        <div>
            <label for="speechonetitle">Speech One Title:</label>
            <input type="text" ng-model="manageMtg.speech1.speech_title" id="speechonetitle" class="speechone">
        </div>
        <div class="track1">
            <label for="tracknameone">Track Name:</label>
            <input type="text" ng-model="manageMtg.speech1.track" id="tracknameone" class="trackone">
        </div>
        <div class="project1">
            <label for="projectnameone">Project Name:</label>
            <input type="text" ng-model="manageMtg.speech1.track_project" id="projectnameone" class="selectproject1">
        </div>
        <div>
            <label for="speakernameone">Speaker Name:</label>
            <input type="text" ng-model="manageMtg.speech1.speaker_first_name" id="speakernameone" class="speakername1">
            <input type="text" ng-model="manageMtg.speech1.speaker_last_name" id="speakerlastnameone" class="speakername1">
        </div>
        <div>
            <label for="speechblurbone">Speech Blurb:</label>
            <input type="text" ng-model="manageMtg.speech1.summary" id="speechblurbone" class="speechblurb1">
        </div>
        <div class="speechbuttonone">
            <input type="submit" class="speechinputone" value="Put Back In Queue" ng-click="manageMtg.backToQueue(manageMtg.speech1)">
        </div>
    </div>


    <div class="second col-xs-12 col-sm-10 col-md-4" ng-controller="RequestSpeechController as requestSpeech">
        <div>
            <label for="speechtwotitle">Speech Two Title:</label>
            <input type="text" ng-model="manageMtg.speech2.speech_title" id="speechtwotitle" class="speechtwo">
        </div>
        <div class="track2">
            <label for="tracknametwo">Track Name:</label>
            <input type="text" ng-model="manageMtg.speech2.track" id="tracknametwo" class="tracktw">
        </div>
        <div class="project2">
            <label for="projectnametwo">Project Name:</label>
            <input type="text" ng-model="manageMtg.speech2.track_project" id="projectnametwo" class="selectproject2">
        </div>
        <div>
            <label for="speakernametwo">Speaker Name:</label>
            <input type="text" ng-model="manageMtg.speech2.speaker_first_name" id="speakernametwo" class="speakername2">
            <input type="text" ng-model="manageMtg.speech2.speaker_last_name" id="speakerlastnametwo" class="speakername2">

        </div>
        <div>
            <label for="speechblurbtwo">Speech Blurb:</label>
            <input type="text" ng-model="manageMtg.speech2.summary" id="speechblurbtwo" class="speechblurb2">
        </div>
        <div class="speechbuttontwo">
            <input type="submit" class="speechinputtwo" value="Put Back In Queue" ng-click="manageMtg.backToQueue(manageMtg.speech2)">
        </div>
    </div>


    <div class="third col-xs-12 col-sm-10 col-md-4">
        <div>
            <label for="speechthreetitle">Speech Three Title:</label>
            <input type="text" ng-model="manageMtg.speech3.speech_title" id="speechthreetitle" class="speechthree">
        </div>
        <div class="track3">
            <label for="tracknamethree">Track Name:</label>
            <input type="text" ng-model="manageMtg.speech3.track" id="tracknamethree" class="trackthree">
        </div>
        <div class="project3">
            <label for="projectnamethree">Project Name:</label>
            <input type="text" ng-model="manageMtg.speech3.track_project" id="projectnamethree" class="selectproject3">
        </div>
        <div>
            <label for="speakernamethree">Speaker Name:</label>
            <input type="text" ng-model="manageMtg.speech3.speaker_first_name" id="speakernamethree" class="speakername3">
            <input type="text" ng-model="manageMtg.speech3.speaker_last_name" id="speakerlastnamethree" class="speakername3">
        </div>
        <div>
            <label for="speechblurbthree">Speech Blurb:</label>
            <input type="text" ng-model="manageMtg.speech3.summary" id="speechblurbthree" class="speechblurb3">
        </div>
        <div class="speechbuttonthree">
            <input type="submit" class="speechinputthree" value="Put Back In Queue" ng-click="manageMtg.backToQueue(manageMtg.speech3)">
        </div>
    </div>

    </div>
        <div class="pending_speeches col-xs-12 col-sm-4 col-md-5">
            <h4 class="speechrequest">Requested Speeches</h4>
            <div class="speech" ng-repeat="unscheduled in manageMtg.pending" ng-click="manageMtg.scheduleSpeech(unscheduled)">
                <p>{{unscheduled.date_requested | date: "fullDate"}}
                    <br>
                Name: {{unscheduled.speaker_first_name}}
                 {{unscheduled.speaker_last_name}}
                    <br>
                Speech Title: {{unscheduled.speech_title}}
                    <br>
                Summary: {{unscheduled.summary}}
                    <br>
                Track: {{unscheduled.track}}
                    <br>
                Project: {{unscheduled.track_project}}.</p>
                <hr>
            </div>
        </div>
</form>
</div>

