<div class="dropdown open">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select A Name
    </button>
    <ul class="dropdown-menu" aria-labelledby="Roster">
        <li class="dropdown-item"><a href="#">Kyra</a></li>
        <li class="dropdown-item"><a href="#">Amber</a></li>
        <li class="dropdown-item"><a href="#">Wallace</a></li>
        <li class="dropdown-item"><a href="#">Chris</a></li>
    </ul>
</div>