<h2>My Pending Speech Requests</h2>

<div class="well" ng-repeat="request in history.requests track by $index">
    <div>
        Date Requested: {{request.date_requested | date}}<br>
        Speaker: {{request.speaker_first_name}} {{request.speaker_last_name}}<br>
        Speech Title: {{request.speech_title}}<br>
        Speech Track & Project: {{request.track}}: {{request.track_project}}<br>
        Summary: {{request.summary}}<br>
        <button ng-click="history.deleteRequest(request)">Cancel This Request</button>
    </div>
</div>

<h2>My Past Speeches</h2>

<div class="well" ng-repeat="speech in history.speeches track by $index">
    <div>
        Speech Date: {{speech.speech_date | date}}<br>
        Speaker: {{speech.speaker_first_name}} {{speech.speaker_last_name}}<br>
        Speech Title: {{speech.speech_title}}<br>
        Speech Track & Project: {{speech.track}}: {{speech.track_project}}<br>
        Summary: {{speech.summary}}<br>
    </div>
</div>
