<div class="row">

    <div class="col-md-12">

    <h2 class="requestinstruct">Submit Title and Description for a Speech</h2>

        <form ng-submit="requestSpeech.submitSpeech()" class="requestform">

            <div class="trackproject col-md-3">
                <div>
                    <label for="track">Speech Track:</label><br>
                    <select ng-model="requestSpeech.selectedTrack" id="track" ng-change="requestSpeech.loadProjects()">
                        <option value="" disabled selected>Select A Track:</option>
                        <option ng-repeat="track in requestSpeech.tracks track by $index" value={{$index}}>{{track.track_name}}</option>
                    </select>
                </div>

                <div>
                    <label for="project">Speech Project:</label><br>
                    <select ng-model="requestSpeech.data.speech.project" id="project" class="project">
                        <option value="" disabled selected>Select A Project:</option>
                        <option ng-repeat="project in requestSpeech.selectedProjects track by $index">{{project.project_name}}</option>
                    </select>
                </div>

                <div>
                    <label for="speechTitle">Speech Title:</label><br>
                    <input type="text" ng-model="requestSpeech.data.speechTitle" id="speechTitle">
                </div>
                <div>
                    <label for="speechBlurb">Description:</label><br>
                    <textarea rows="20" class="pendtext" name="comment" ng-model="requestSpeech.data.speechBlurb" id="speechBlurb"></textarea>
                </div>
                <div class="submitclear">
                    <input type="submit" class="requestsubmit" value="Save Request">
                    <button class="buttonclear" ng-click="requestSpeech.resetForm()">Clear</button>
                </div>
            </div>


        </form>
        <p ng-show="requestSpeech.submitted">Your speech request has been submitted. An admin will notify you when your speech is scheduled for a future meeting.</p>

    </div>
</div>
