<div ng-controller="SpeechAgendaController as plannedSpeeches">
<b>Speeches scheduled for this week:</b>
<div class="well" ng-repeat="plannedSpeech in plannedSpeeches.speechArray track by $index">
    <div>
        Speaker: {{plannedSpeech.speaker_first_name}} {{plannedSpeech.speaker_last_name}}<br>
        Speech Title: {{plannedSpeech.speech_title}}<br>
        Track: {{plannedSpeech.track}}<br>
        Project: {{plannedSpeech.track_project}}<br>
        Summary: {{plannedSpeech.summary}}<br>
        <!--Grammarian Report: {{plannedSpeech.grammarian_report}}<br>-->
    </div>
</div>
</div>