 <h2>Speech Tracks</h2>

<form>
    <select ng-model="selectedTrack" style="font-size: 26px" ng-change="loadProjects()">
        <option value="" disabled selected>Select A Track:</option>
        <option ng-repeat="track in viewTracks.tracks track by $index" value={{$index}}>{{track.track_name}}</option>
    </select>
</form>


<div ng-repeat="project in viewTracks.selectedProjects.data track by $index" class="panel-group">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{project.project_name}}</h4>

            </div>
            <div class="panel">
                <div class="panel-body">
                    {{project.project_description}}
                </div>
            </div>
        </div>
    </div>
</div>