 <h2>Speech Tracks</h2>

<div ng-repeat="track in requestSpeech.tracks track by $index" class="panel-group">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{track.track_name}}
                </h4>
            </div>
            <div class="panel">
                <div class="panel-body" ng-repeat="project in requestSpeech.projects track by $index">
                    <b>{{project.project_name}}</b><br>
                    {{project.project_description}}
                </div>
            </div>
        </div>
    </div>
</div>